Repository SimonBoothroyd/smee: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, isort-examples, black-examples, flake8-examples

isort:
  name: '[Package] Import formatting'
  language: system
  entry: isort

black:
  name: '[Package] Code formatting'
  language: system
  entry: black

flake8:
  name: '[Package] Linting'
  language: system
  entry: flake8

isort-examples:
  name: '[Examples] Import formatting'
  language: system
  entry: nbqa isort

black-examples:
  name: '[Examples] Code formatting'
  language: system
  entry: nbqa black

flake8-examples:
  name: '[Examples] Linting'
  language: system
  entry: nbqa flake8 --ignore=E402

Stopping point mid potential
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

lint + initial logic for compute_multipole_energy
  smee/_constants.py
  smee/converters/openff/nonbonded.py
  smee/converters/openmm/nonbonded.py
  smee/potentials/nonbonded.py
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Swap to `ruff` and `setuptools-scm`
  .pre-commit-config.yaml
  Makefile
  devtools/envs/base.yaml
  examples/parameter-gradients.ipynb
  pyproject.toml
  smee/__init__.py
  smee/_models.py
  smee/_version.py
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openmm/_openmm.py
  smee/converters/openmm/nonbonded.py
  smee/converters/openmm/valence.py
  smee/geometry.py
  smee/mm/_config.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/convertors/openff/test_valence.py
  smee/tests/convertors/test_openmm.py
  smee/tests/mm/test_ops.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/test_utils.py
  smee/tests/utils.py
  smee/utils.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Swap to `ruff` and `setuptools-scm` (#112)
  .pre-commit-config.yaml
  Makefile
  devtools/envs/base.yaml
  examples/parameter-gradients.ipynb
  pyproject.toml
  smee/__init__.py
  smee/_models.py
  smee/_version.py
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openmm/_openmm.py
  smee/converters/openmm/nonbonded.py
  smee/converters/openmm/valence.py
  smee/geometry.py
  smee/mm/_config.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/convertors/openff/test_valence.py
  smee/tests/convertors/test_openmm.py
  smee/tests/mm/test_ops.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/test_utils.py
  smee/tests/utils.py
  smee/utils.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Deployed 70e5da0 to latest with MkDocs 1.5.3 and mike 2.1.2
  latest/examples/parameter-gradients/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/converters/openmm/nonbonded/index.html
  latest/reference/converters/openmm/valence/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Detach parameter graph before OpenMM conversion
  smee/converters/openmm/_openmm.py
  smee/converters/openmm/nonbonded.py
  smee/converters/openmm/valence.py
Due: isort, black, flake8

Detach parameter graph before OpenMM conversion (#113)
  smee/converters/openmm/_openmm.py
  smee/converters/openmm/nonbonded.py
  smee/converters/openmm/valence.py
Due: isort, black, flake8

Deployed 0e4d857 to latest with MkDocs 1.5.3 and mike 2.1.2
  latest/reference/converters/openmm/index.html
  latest/reference/converters/openmm/nonbonded/index.html
  latest/reference/converters/openmm/valence/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Add preconditioned conjugate gradient solver for polarization equations
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Add OpenMM AmoebaMultipoleForce exceptions and lint
  smee/converters/openmm/nonbonded.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Add short circuit if system isn't polarizable
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Electric field that affects the induced moments must be damped (even if permanent electric field isn't), also a=0.39 for Amoeba
  smee/converters/openmm/nonbonded.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Fix bugs involving multiple topology copies
  smee/converters/openmm/nonbonded.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Add `pydantic =1` support
  .git_archival.txt
  .gitattributes
  .github/workflows/ci.yaml
  devtools/envs/base.yaml
  pyproject.toml
  smee/__init__.py
  smee/mm/_config.py
Due: isort, black, flake8

fix workflow syntax
  .github/workflows/ci.yaml
Due: none

Drop un-needed test
  Makefile
  smee/tests/mm/test_config.py
Due: isort, black, flake8

Add `pydantic =1` support (#114)
  .git_archival.txt
  .gitattributes
  .github/workflows/ci.yaml
  Makefile
  devtools/envs/base.yaml
  pyproject.toml
  smee/__init__.py
  smee/mm/_config.py
  smee/tests/mm/test_config.py
Due: isort, black, flake8

Deployed 6ffdc4c to latest with MkDocs 1.5.3 and mike 2.1.2
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/nonbonded/index.html
  latest/reference/converters/openmm/valence/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Drop insider doc dependencies
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  Makefile
  devtools/envs/base.yaml
  mkdocs.yml
Due: none

Drop insider doc dependencies (#115)
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  Makefile
  devtools/envs/base.yaml
  mkdocs.yml
Due: none

Deployed bf5485d to latest with MkDocs 1.6.1 and mike 2.1.2
  latest/404.html
  latest/assets/_mkdocstrings.css
  latest/assets/javascripts/bundle.83f73b43.min.js
  latest/assets/javascripts/bundle.83f73b43.min.js.map
  latest/assets/javascripts/bundle.dd8806f2.min.js
  latest/assets/javascripts/bundle.dd8806f2.min.js.map
  latest/assets/javascripts/workers/search.6ce7567c.min.js
  latest/assets/javascripts/workers/search.6ce7567c.min.js.map
  latest/assets/javascripts/workers/search.b8dbb3d2.min.js
  latest/assets/javascripts/workers/search.b8dbb3d2.min.js.map
  latest/assets/stylesheets/main.0253249f.min.css
  latest/assets/stylesheets/main.0253249f.min.css.map
  latest/assets/stylesheets/main.66ac8b77.min.css
  latest/assets/stylesheets/main.66ac8b77.min.css.map
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/converters/openmm/nonbonded/index.html
  latest/reference/converters/openmm/valence/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Don't include constrained bonds / angles from OpenFF
  smee/converters/openff/_openff.py
  smee/converters/openff/valence.py
  smee/tests/convertors/openff/test_valence.py
  smee/tests/convertors/test_openmm.py
Due: isort, black, flake8

Don't include constrained bonds / angles from OpenFF (#116)
  smee/converters/openff/_openff.py
  smee/converters/openff/valence.py
  smee/tests/convertors/openff/test_valence.py
  smee/tests/convertors/test_openmm.py
Due: isort, black, flake8

Deployed 354e0f0 to latest with MkDocs 1.6.1 and mike 2.1.2
  latest/404.html
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/objects.inv
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/converters/openmm/nonbonded/index.html
  latest/reference/converters/openmm/valence/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Add support for SMIRNOFF `ChargeIncrementModel`
  smee/converters/openff/nonbonded.py
  smee/tests/convertors/openff/test_nonbonded.py
Due: isort, black, flake8

Add support for SMIRNOFF `ChargeIncrementModel` (#118)
  smee/converters/openff/nonbonded.py
  smee/tests/convertors/openff/test_nonbonded.py
Due: isort, black, flake8

fix typo
  smee/mm/_fe.py
Due: isort, black, flake8

set trajectory freq
  smee/mm/_fe.py
Due: isort, black, flake8

Add initial ops to fit to Gsolv
  smee/mm/__init__.py
  smee/mm/_fe.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_utils.py
Due: isort, black, flake8

fix ops, fix BCIs
  smee/mm/_fe.py
  smee/mm/_ops.py
Due: isort, black, flake8

Deployed a37e30e to latest with MkDocs 1.6.1 and mike 2.1.2
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

set devices
  smee/mm/_fe.py
Due: isort, black, flake8

add tests
  devtools/envs/base.yaml
  pyproject.toml
  smee/mm/_fe.py
  smee/mm/_ops.py
  smee/tests/conftest.py
  smee/tests/mm/test_fe.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

add traj sanity check
  smee/mm/_fe.py
Due: isort, black, flake8

fix dtype
  smee/mm/_fe.py
Due: isort, black, flake8

cleanup test
  smee/tests/mm/test_fe.py
Due: isort, black, flake8

fix CI
  .github/workflows/ci.yaml
  devtools/envs/base.yaml
  smee/mm/_fe.py
  smee/tests/mm/test_fe.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort-examples: any of: examples/.+\.ipynb$
  black-examples: any of: examples/.+\.ipynb$
  flake8-examples: any of: examples/.+\.ipynb$
