Repository SimonBoothroyd/smee: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, isort-examples, black-examples, flake8-examples

isort:
  name: '[Package] Import formatting'
  language: system
  entry: isort

black:
  name: '[Package] Code formatting'
  language: system
  entry: black

flake8:
  name: '[Package] Linting'
  language: system
  entry: flake8

isort-examples:
  name: '[Examples] Import formatting'
  language: system
  entry: nbqa isort

black-examples:
  name: '[Examples] Code formatting'
  language: system
  entry: nbqa black

flake8-examples:
  name: '[Examples] Linting'
  language: system
  entry: nbqa flake8 --ignore=E402

Fix typo
  examples/parameter-gradients.ipynb
Due: isort-examples, black-examples, flake8-examples

Convert examples to notebooks (#58)
  .pre-commit-config.yaml
  Makefile
  devtools/envs/base.yaml
  examples/README.md
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/conformer-minimization.py
  examples/parameter-gradients.ipynb
  examples/parameter-gradients.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add test for converting multiple interchanges
  smirnoffee/ff/__init__.py
  smirnoffee/geometry.py
  smirnoffee/potentials/__init__.py
  smirnoffee/potentials/valence.py
  smirnoffee/tests/conftest.py
  smirnoffee/tests/ff/test_ff.py
  smirnoffee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Add test for converting multiple interchanges (#59)
  smirnoffee/ff/__init__.py
  smirnoffee/geometry.py
  smirnoffee/potentials/__init__.py
  smirnoffee/potentials/valence.py
  smirnoffee/tests/conftest.py
  smirnoffee/tests/ff/test_ff.py
  smirnoffee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Add compute v-site geometry utils
  devtools/envs/base.yaml
  examples/README.md
  examples/compute-energy.ipynb
  smirnoffee/ff/_ff.py
  smirnoffee/geometry.py
  smirnoffee/tests/ff/test_ff.py
  smirnoffee/tests/potentials/test_potentials.py
  smirnoffee/tests/test_geometry.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add compute v-site geometry utils (#60)
  devtools/envs/base.yaml
  examples/README.md
  examples/compute-energy.ipynb
  smirnoffee/ff/_ff.py
  smirnoffee/geometry.py
  smirnoffee/tests/ff/test_ff.py
  smirnoffee/tests/potentials/test_potentials.py
  smirnoffee/tests/test_geometry.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Swap to [kcal/mol] and [rad]
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/parameter-gradients.ipynb
  smirnoffee/ff/_ff.py
  smirnoffee/ff/nonbonded.py
  smirnoffee/ff/valence.py
  smirnoffee/geometry.py
  smirnoffee/potentials/_potentials.py
  smirnoffee/potentials/nonbonded.py
  smirnoffee/potentials/valence.py
  smirnoffee/tests/ff/test_ff.py
  smirnoffee/tests/potentials/test_nonbonded.py
  smirnoffee/tests/potentials/test_potentials.py
  smirnoffee/tests/potentials/test_valence.py
  smirnoffee/tests/test_geometry.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add development section to README
  README.md
Due: none

Swap to [kcal/mol] and [rad] (#61)
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/parameter-gradients.ipynb
  smirnoffee/ff/_ff.py
  smirnoffee/ff/nonbonded.py
  smirnoffee/ff/valence.py
  smirnoffee/geometry.py
  smirnoffee/potentials/_potentials.py
  smirnoffee/potentials/nonbonded.py
  smirnoffee/potentials/valence.py
  smirnoffee/tests/ff/test_ff.py
  smirnoffee/tests/potentials/test_nonbonded.py
  smirnoffee/tests/potentials/test_potentials.py
  smirnoffee/tests/potentials/test_valence.py
  smirnoffee/tests/test_geometry.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add development section to README (#62)
  README.md
Due: none

Rename to `smee`
  .gitattributes
  Makefile
  README.md
  devtools/envs/base.yaml
  examples/README.md
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/parameter-gradients.ipynb
  pyproject.toml
  smee/__init__.py
  smee/ff/__init__.py
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/ff/valence.py
  smee/geometry.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/potentials/valence.py
  smee/py.typed
  smee/tests/__init__.py
  smee/tests/conftest.py
  smee/tests/ff/__init__.py
  smee/tests/ff/test_ff.py
  smee/tests/ff/test_nonbonded.py
  smee/tests/ff/test_valence.py
  smee/tests/potentials/__init__.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/potentials/test_valence.py
  smee/tests/test_geometry.py
  smee/tests/test_utils.py
  smee/utils.py
  smirnoffee/__init__.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Rename to `smee` (#63)
  .gitattributes
  Makefile
  README.md
  devtools/envs/base.yaml
  examples/README.md
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/parameter-gradients.ipynb
  pyproject.toml
  smee/__init__.py
  smee/ff/__init__.py
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/ff/valence.py
  smee/geometry.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/potentials/valence.py
  smee/py.typed
  smee/tests/__init__.py
  smee/tests/conftest.py
  smee/tests/ff/__init__.py
  smee/tests/ff/test_ff.py
  smee/tests/ff/test_nonbonded.py
  smee/tests/ff/test_valence.py
  smee/tests/potentials/__init__.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/potentials/test_valence.py
  smee/tests/test_geometry.py
  smee/tests/test_utils.py
  smee/utils.py
  smirnoffee/__init__.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add example for custom parameter handlers
  README.md
  devtools/envs/base.yaml
  examples/README.md
  examples/custom-handler.ipynb
  smee/ff/nonbonded.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add example for custom parameter handlers (#64)
  README.md
  devtools/envs/base.yaml
  examples/README.md
  examples/custom-handler.ipynb
  smee/ff/nonbonded.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Migrate to versioneer
  .gitignore
  devtools/envs/base.yaml
  pyproject.toml
  smee/__init__.py
Due: isort, black, flake8

Track n_atoms
  smee/ff/_ff.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Replace eps with proper where check
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Track n_atoms (#66)
  smee/ff/_ff.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Undo LJ nan gradient fix
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Undo LJ nan gradient fix (#67)
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Use double precision as default
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/ff/valence.py
  smee/geometry.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/potentials/valence.py
  smee/tests/ff/test_nonbonded.py
  smee/tests/test_geometry.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Add missing version file
  smee/_version.py
Due: isort, black, flake8

Use double precision as default (#68)
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/ff/valence.py
  smee/geometry.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/potentials/valence.py
  smee/tests/ff/test_nonbonded.py
  smee/tests/test_geometry.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Migrate to versioneer (#65)
  .gitignore
  devtools/envs/base.yaml
  pyproject.toml
  smee/__init__.py
  smee/_version.py
Due: isort, black, flake8

Add conda installation instructions
  README.md
Due: none

Remove RDKit and ambertools
  README.md
Due: none

Add conda installation instructions (#69)
  README.md
Due: none

Store enough extra info to convert to OpenMM
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/tests/conftest.py
  smee/tests/ff/test_ff.py
  smee/tests/ff/test_nonbonded.py
Due: isort, black, flake8

Store enough extra info to convert to OpenMM (#70)
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/tests/conftest.py
  smee/tests/ff/test_ff.py
  smee/tests/ff/test_nonbonded.py
Due: isort, black, flake8

Store enough extra info to convert to OpenMM
  smee/ff/__init__.py
  smee/ff/_ff.py
  smee/tests/ff/test_ff.py
Due: isort, black, flake8

Fix tests
  smee/tests/ff/test_ff.py
Due: isort, black, flake8

Track distance constraints (#71)
  smee/ff/__init__.py
  smee/ff/_ff.py
  smee/tests/ff/test_ff.py
Due: isort, black, flake8

Bump to interchange 0.3.15
  devtools/envs/base.yaml
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/ff/valence.py
  smee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Bump to interchange 0.3.15 (#72)
  devtools/envs/base.yaml
  smee/ff/_ff.py
  smee/ff/nonbonded.py
  smee/ff/valence.py
  smee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Add OpenMM condensed phase wrappers
  devtools/envs/base.yaml
  smee/ff/__init__.py
  smee/ff/_ff.py
  smee/mm/__init__.py
  smee/mm/_config.py
  smee/mm/_converters.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/tests/mm/__init__.py
Due: isort, black, flake8

Add tests
  smee/ff/_ff.py
  smee/mm/__init__.py
  smee/mm/_config.py
  smee/mm/_converters.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/tests/mm/test_config.py
  smee/tests/mm/test_converters.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8

Improve codecov
  smee/mm/_converters.py
  smee/tests/mm/test_config.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8

Add ops tests
  devtools/envs/base.yaml
  smee/mm/_ops.py
  smee/tests/mm/conftest.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

Condense backwards pass
  smee/mm/_ops.py
Due: isort, black, flake8

Add attr gradient and example notebook
  Makefile
  examples/README.md
  examples/md-simulations.ipynb
  smee/ff/_ff.py
  smee/mm/__init__.py
  smee/mm/_converters.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/tests/mm/test_converters.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort-examples: any of: examples/.+\.ipynb$
  black-examples: any of: examples/.+\.ipynb$
  flake8-examples: any of: examples/.+\.ipynb$
