Repository SimonBoothroyd/smee: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, isort-examples, black-examples, flake8-examples

isort:
  name: '[Package] Import formatting'
  language: system
  entry: isort

black:
  name: '[Package] Code formatting'
  language: system
  entry: black

flake8:
  name: '[Package] Linting'
  language: system
  entry: flake8

isort-examples:
  name: '[Examples] Import formatting'
  language: system
  entry: nbqa isort

black-examples:
  name: '[Examples] Code formatting'
  language: system
  entry: nbqa black

flake8-examples:
  name: '[Examples] Linting'
  language: system
  entry: nbqa flake8 --ignore=E402

Convert LM function to class
  smee/optimizers/__init__.py
  smee/optimizers/_lm.py
  smee/tests/optimizers/test_lm.py
Due: isort, black, flake8

Ensure hessian dtype is retained
  smee/optimizers/_lm.py
Due: isort, black, flake8

Add func to 'corrct' new parameters
  smee/optimizers/_lm.py
Due: isort, black, flake8

Fix LM optimizer on CUDA devices (#83)
  devtools/envs/base.yaml
  smee/optimizers/__init__.py
  smee/optimizers/_lm.py
  smee/tests/optimizers/test_lm.py
Due: isort, black, flake8

Remove optimizers
  smee/optimizers/__init__.py
  smee/optimizers/_lm.py
  smee/tests/optimizers/__init__.py
  smee/tests/optimizers/test_lm.py
Due: isort, black, flake8

Remove optimizers (#84)
  smee/optimizers/__init__.py
  smee/optimizers/_lm.py
  smee/tests/optimizers/__init__.py
  smee/tests/optimizers/test_lm.py
Due: isort, black, flake8

Fix adding 'empty' v-site coordinates
  LICENSE_3RD_PARTY
  devtools/envs/base.yaml
  smee/geometry.py
  smee/tests/test_geometry.py
Due: isort, black, flake8

Fix adding 'empty' v-site coordinates (#85)
  LICENSE_3RD_PARTY
  devtools/envs/base.yaml
  smee/geometry.py
  smee/tests/test_geometry.py
Due: isort, black, flake8

Add initial re-weighting support
  devtools/envs/base.yaml
  smee/mm/__init__.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/tests/mm/test_ops.py
  smee/tests/mm/test_reporters.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Add initial re-weighting support (#86)
  devtools/envs/base.yaml
  smee/mm/__init__.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/tests/mm/test_ops.py
  smee/tests/mm/test_reporters.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Expose `NotEnoughSamplesError`
  smee/mm/__init__.py
Due: isort, black, flake8

Expose `NotEnoughSamplesError` (#87)
  smee/mm/__init__.py
Due: isort, black, flake8

Fix re-weighting when du/dp is negative
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Fix re-weighting when du/dp is negative (#88)
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Improve MM v-site support
  devtools/envs/base.yaml
  examples/md-simulations.ipynb
  smee/converters/openmm.py
  smee/geometry.py
  smee/mm/_mm.py
  smee/tests/conftest.py
  smee/tests/convertors/test_openmm.py
  smee/tests/mm/test_mm.py
  smee/tests/potentials/conftest.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/test_geometry.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Improve MM v-site support (#89)
  devtools/envs/base.yaml
  examples/md-simulations.ipynb
  smee/converters/openmm.py
  smee/geometry.py
  smee/mm/_mm.py
  smee/tests/conftest.py
  smee/tests/convertors/test_openmm.py
  smee/tests/mm/test_mm.py
  smee/tests/potentials/conftest.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/test_geometry.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Fix v-site charge increment direction
  smee/converters/openff/nonbonded.py
  smee/converters/openmm.py
  smee/tests/convertors/openff/test_nonbonded.py
Due: isort, black, flake8

Ensure v-sites added to OpenMM topology
  smee/converters/openmm.py
Due: isort, black, flake8

Fix v-site charge increment direction (#90)
  smee/converters/openff/nonbonded.py
  smee/converters/openmm.py
  smee/tests/convertors/openff/test_nonbonded.py
Due: isort, black, flake8

Add initial support for v-sites in MM ops
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

Ensure tensors are on CPU before OMM conversion
  smee/converters/openmm.py
Due: isort, black, flake8

Fix tests
  smee/tests/mm/test_mm.py
Due: isort, black, flake8

Fix example notebook
  examples/md-simulations.ipynb
Due: isort-examples, black-examples, flake8-examples

Add initial support for v-sites in MM ops (#91)
  examples/md-simulations.ipynb
  smee/converters/openmm.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add std error to enseble avg op outputs
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Fix re-weight test
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

Store stds in a separate dict
  examples/md-simulations.ipynb
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add std error to MM ensemble avg outputs (#92)
  examples/md-simulations.ipynb
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add optional HMR support to MM
  smee/mm/_mm.py
  smee/tests/mm/test_mm.py
Due: isort, black, flake8

Add optional HMR support to MM (#93)
  smee/mm/_mm.py
  smee/tests/mm/test_mm.py
Due: isort, black, flake8

Fix pydantic 2.5 module not found error
  smee/mm/_config.py
Due: isort, black, flake8

Fix `pydantic >=2.5` module not found error
  smee/mm/_config.py
Due: isort, black, flake8

Add initial documentation
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  Makefile
  README.md
  devtools/envs/base.yaml
  docs/development.md
  docs/examples
  docs/index.md
  docs/javascripts/mathjax.js
  docs/scripts/gen_ref_pages.py
  mkdocs.yml
  smee/geometry.py
Due: isort, black, flake8

Disable private extension by default
  .github/workflows/docs.yaml
  mkdocs.yml
Due: none

Add initial documentation (#95)
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  Makefile
  README.md
  devtools/envs/base.yaml
  docs/development.md
  docs/examples
  docs/index.md
  docs/javascripts/mathjax.js
  docs/scripts/gen_ref_pages.py
  mkdocs.yml
  smee/geometry.py
Due: isort, black, flake8

Fix expose docs token
  .github/workflows/docs.yaml
Due: none

Fix mike deployment
  .github/workflows/docs.yaml
  Makefile
  mkdocs.yml
Due: none

Deployed 29b485f to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/sitemap.xml.gz
Due: none

Create redirect index
  index.html
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort-examples: any of: examples/.+\.ipynb$
  black-examples: any of: examples/.+\.ipynb$
  flake8-examples: any of: examples/.+\.ipynb$
