Repository SimonBoothroyd/smee: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, isort-examples, black-examples, flake8-examples

isort:
  name: '[Package] Import formatting'
  language: system
  entry: isort

black:
  name: '[Package] Code formatting'
  language: system
  entry: black

flake8:
  name: '[Package] Linting'
  language: system
  entry: flake8

isort-examples:
  name: '[Examples] Import formatting'
  language: system
  entry: nbqa isort

black-examples:
  name: '[Examples] Code formatting'
  language: system
  entry: nbqa black

flake8-examples:
  name: '[Examples] Linting'
  language: system
  entry: nbqa flake8 --ignore=E402

Support geometric mean forward AD and vmap
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

re-lint codebase
  smee/_models.py
  smee/converters/openff/__init__.py
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openff/valence.py
  smee/converters/openmm.py
  smee/geometry.py
  smee/mm/_config.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Support geometric mean forward AD and vmap (#96)
  smee/_models.py
  smee/converters/openff/__init__.py
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openff/valence.py
  smee/converters/openmm.py
  smee/geometry.py
  smee/mm/_config.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Deployed 32070d4 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/assets/javascripts/bundle.8fd75fb4.min.js
  latest/assets/javascripts/bundle.8fd75fb4.min.js.map
  latest/assets/javascripts/bundle.cd18aaf1.min.js
  latest/assets/javascripts/bundle.cd18aaf1.min.js.map
  latest/assets/javascripts/workers/search.b8dbb3d2.min.js
  latest/assets/javascripts/workers/search.b8dbb3d2.min.js.map
  latest/assets/javascripts/workers/search.f886a092.min.js.map
  latest/assets/stylesheets/main.f2e4d321.min.css
  latest/assets/stylesheets/main.f2e4d321.min.css.map
  latest/assets/stylesheets/main.fad675c6.min.css
  latest/assets/stylesheets/main.fad675c6.min.css.map
  latest/assets/stylesheets/palette.06af60db.min.css
  latest/assets/stylesheets/palette.06af60db.min.css.map
  latest/assets/stylesheets/palette.356b1318.min.css
  latest/assets/stylesheets/palette.356b1318.min.css.map
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/custom-handler/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Add support for DEXP potential
  devtools/envs/base.yaml
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openmm.py
  smee/potentials/nonbonded.py
  smee/tests/conftest.py
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/convertors/test_openmm.py
  smee/tests/data/de-ff.offxml
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Fix MM op for attrs, incorrect disp corr.
  smee/converters/openmm.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Drop plugin notebook for now
  examples/custom-handler.ipynb
Due: isort-examples, black-examples, flake8-examples

Update README
  README.md
Due: none

Add support for DEXP potential (#97)
  README.md
  devtools/envs/base.yaml
  examples/custom-handler.ipynb
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openmm.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/potentials/nonbonded.py
  smee/tests/conftest.py
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/convertors/test_openmm.py
  smee/tests/data/de-ff.offxml
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Deployed 9da8823 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/custom-handler/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/objects.inv
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Add DEXP long range correction
  LICENSE_3RD_PARTY
  smee/potentials/nonbonded.py
  smee/tests/data/de-ff.offxml
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Add DEXP long range correction (#98)
  LICENSE_3RD_PARTY
  smee/potentials/nonbonded.py
  smee/tests/data/de-ff.offxml
  smee/tests/potentials/test_nonbonded.py
Due: isort, black, flake8

Deployed a0eb03f to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/assets/stylesheets/main.7e359304.min.css
  latest/assets/stylesheets/main.7e359304.min.css.map
  latest/assets/stylesheets/main.f2e4d321.min.css
  latest/assets/stylesheets/main.f2e4d321.min.css.map
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/objects.inv
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Fix LRC devices
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Fix LRC devices (#100)
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Deployed 50ef8b4 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/reference/potentials/nonbonded/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Update doc builds to template
  .github/workflows/docs.yaml
  mkdocs.yml
Due: none

Don't pull GH branch when building docs
  .github/workflows/docs.yaml
Due: none

Try allow unrelated histories
  .github/workflows/docs.yaml
Due: none

Deployed 7d63a7f to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/sitemap.xml.gz
Due: none

Add tensor reporter ctx manager
  examples/md-simulations.ipynb
  smee/mm/__init__.py
  smee/mm/_reporters.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add tensor reporter ctx manager (#101)
  examples/md-simulations.ipynb
  smee/mm/__init__.py
  smee/mm/_reporters.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Extract additional MM observables
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

Expand tests
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

Deployed 8d130fe to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/examples/md-simulations/index.html
  latest/objects.inv
  latest/reference/mm/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Extract additional MM observables (#99)
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8

Deployed 93d82d0 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/reference/mm/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Fix v-site - v-site exclusions missed
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Fix v-site - v-site exclusions missed (#102)
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Deployed c157692 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Fix computing observables without gradients
  smee/mm/_ops.py
Due: isort, black, flake8

Fix computing observables without gradients (#103)
  smee/mm/_ops.py
Due: isort, black, flake8

Deployed 4d224d6 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/assets/javascripts/bundle.8fd75fb4.min.js
  latest/assets/javascripts/bundle.8fd75fb4.min.js.map
  latest/assets/javascripts/bundle.bd41221c.min.js
  latest/assets/javascripts/bundle.bd41221c.min.js.map
  latest/assets/stylesheets/main.10ba22f1.min.css
  latest/assets/stylesheets/main.10ba22f1.min.css.map
  latest/assets/stylesheets/main.7e359304.min.css
  latest/assets/stylesheets/main.7e359304.min.css.map
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/objects.inv
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Support residue information
  smee/_models.py
Due: isort, black, flake8

Add tests
  smee/_models.py
  smee/tests/test_models.py
Due: isort, black, flake8

Fix tests
  devtools/envs/base.yaml
Due: none

Support residue information (#104)
  devtools/envs/base.yaml
  smee/_models.py
  smee/tests/test_models.py
Due: isort, black, flake8

Deployed 2b10bdd to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/assets/javascripts/bundle.bd41221c.min.js
  latest/assets/javascripts/bundle.bd41221c.min.js.map
  latest/assets/javascripts/bundle.dd8806f2.min.js
  latest/assets/javascripts/bundle.dd8806f2.min.js.map
  latest/assets/stylesheets/main.10ba22f1.min.css
  latest/assets/stylesheets/main.10ba22f1.min.css.map
  latest/assets/stylesheets/main.66ac8b77.min.css
  latest/assets/stylesheets/main.66ac8b77.min.css.map
  latest/development/index.html
  latest/examples/compute-energy/index.html
  latest/examples/conformer-minimization/index.html
  latest/examples/index.html
  latest/examples/md-simulations/index.html
  latest/examples/parameter-gradients/index.html
  latest/index.html
  latest/objects.inv
  latest/reference/SUMMARY/index.html
  latest/reference/converters/index.html
  latest/reference/converters/openff/index.html
  latest/reference/converters/openff/nonbonded/index.html
  latest/reference/converters/openff/valence/index.html
  latest/reference/converters/openmm/index.html
  latest/reference/geometry/index.html
  latest/reference/index.html
  latest/reference/mm/index.html
  latest/reference/potentials/index.html
  latest/reference/potentials/nonbonded/index.html
  latest/reference/potentials/valence/index.html
  latest/reference/utils/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort-examples: any of: examples/.+\.ipynb$
  black-examples: any of: examples/.+\.ipynb$
  flake8-examples: any of: examples/.+\.ipynb$
