Repository SimonBoothroyd/smee: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, isort-examples, black-examples, flake8-examples

isort:
  name: '[Package] Import formatting'
  language: system
  entry: isort

black:
  name: '[Package] Code formatting'
  language: system
  entry: black

flake8:
  name: '[Package] Linting'
  language: system
  entry: flake8

isort-examples:
  name: '[Examples] Import formatting'
  language: system
  entry: nbqa isort

black-examples:
  name: '[Examples] Code formatting'
  language: system
  entry: nbqa black

flake8-examples:
  name: '[Examples] Linting'
  language: system
  entry: nbqa flake8 --ignore=E402

Cleanup notebook
  examples/md-simulations.ipynb
Due: isort-examples, black-examples, flake8-examples

Add OpenMM condensed phase wrappers (#73)
  Makefile
  devtools/envs/base.yaml
  examples/README.md
  examples/md-simulations.ipynb
  smee/ff/__init__.py
  smee/ff/_ff.py
  smee/mm/__init__.py
  smee/mm/_config.py
  smee/mm/_converters.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/tests/mm/__init__.py
  smee/tests/mm/conftest.py
  smee/tests/mm/test_config.py
  smee/tests/mm/test_converters.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Clean-up MD example notebook
  examples/md-simulations.ipynb
Due: isort-examples, black-examples, flake8-examples

Clean-up API to allow other converters
  Makefile
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/custom-handler.ipynb
  examples/md-simulations.ipynb
  examples/parameter-gradients.ipynb
  smee/__init__.py
  smee/_models.py
  smee/converters/__init__.py
  smee/converters/openff/__init__.py
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openff/valence.py
  smee/converters/openmm.py
  smee/ff/__init__.py
  smee/geometry.py
  smee/mm/__init__.py
  smee/mm/_config.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/potentials/_potentials.py
  smee/potentials/valence.py
  smee/tests/convertors/__init__.py
  smee/tests/convertors/openff/__init__.py
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/convertors/openff/test_openff.py
  smee/tests/convertors/openff/test_valence.py
  smee/tests/convertors/test_openmm.py
  smee/tests/mm/conftest.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
  smee/tests/potentials/test_potentials.py
  smee/tests/test_geometry.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Clean-up API to allow other converters (#74)
  Makefile
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/custom-handler.ipynb
  examples/md-simulations.ipynb
  examples/parameter-gradients.ipynb
  smee/__init__.py
  smee/_models.py
  smee/converters/__init__.py
  smee/converters/openff/__init__.py
  smee/converters/openff/_openff.py
  smee/converters/openff/nonbonded.py
  smee/converters/openff/valence.py
  smee/converters/openmm.py
  smee/ff/__init__.py
  smee/geometry.py
  smee/mm/__init__.py
  smee/mm/_config.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/potentials/_potentials.py
  smee/potentials/valence.py
  smee/tests/convertors/__init__.py
  smee/tests/convertors/openff/__init__.py
  smee/tests/convertors/openff/test_nonbonded.py
  smee/tests/convertors/openff/test_openff.py
  smee/tests/convertors/openff/test_valence.py
  smee/tests/convertors/test_openmm.py
  smee/tests/mm/conftest.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
  smee/tests/potentials/test_potentials.py
  smee/tests/test_geometry.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add initial compute periodic LJ energy
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  LICENSE_3RD_PARTY
  Makefile
  devtools/envs/base.yaml
  smee/_models.py
  smee/converters/openff/nonbonded.py
  smee/mm/_mm.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/mm/test_mm.py
  smee/tests/test_models.py
  smee/tests/test_utils.py
  smee/tests/utils.py
  smee/utils.py
Due: isort, black, flake8

Add tests
  smee/converters/openff/nonbonded.py
  smee/potentials/_potentials.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Add initial compute periodic LJ energy (#75)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  LICENSE_3RD_PARTY
  Makefile
  devtools/envs/base.yaml
  smee/_models.py
  smee/mm/_mm.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/mm/test_mm.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/test_models.py
  smee/tests/test_utils.py
  smee/tests/utils.py
  smee/utils.py
Due: isort, black, flake8

Add initial PME support
  smee/converters/openmm.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/conftest.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Add test for PME exclusions
  smee/tests/potentials/conftest.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/utils.py
Due: isort, black, flake8

Add initial PME support (#76)
  smee/converters/openmm.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/conftest.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/utils.py
Due: isort, black, flake8

Refactor energy API to allow systems
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
Due: isort, black, flake8

Fix nonbonded tests
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Update valence potential API
  smee/_models.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/valence.py
  smee/tests/potentials/test_potentials.py
  smee/tests/potentials/test_valence.py
Due: isort, black, flake8

Update examples with new API
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/custom-handler.ipynb
  examples/parameter-gradients.ipynb
  smee/potentials/nonbonded.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Share pairwise distances between potentials
  smee/potentials/_potentials.py
  smee/tests/potentials/test_potentials.py
Due: isort, black, flake8

Fix test
  smee/converters/openmm.py
Due: isort, black, flake8

Refactor energy API to allow systems (#77)
  examples/compute-energy.ipynb
  examples/conformer-minimization.ipynb
  examples/custom-handler.ipynb
  examples/parameter-gradients.ipynb
  smee/_models.py
  smee/converters/openmm.py
  smee/potentials/__init__.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/potentials/valence.py
  smee/tests/potentials/test_nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/potentials/test_valence.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Re-write avg. ensemble op to use analytical gradient
  devtools/envs/base.yaml
  smee/mm/__init__.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/potentials/nonbonded.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8

Add tests and update notebook
  examples/md-simulations.ipynb
  smee/mm/_ops.py
  smee/tests/mm/test_ops.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Fix broadcasting
  examples/md-simulations.ipynb
  smee/mm/_ops.py
  smee/potentials/_potentials.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Pin interchange
  devtools/envs/base.yaml
Due: none

Re-write avg. ensemble op to use analytical gradient (#78)
  devtools/envs/base.yaml
  examples/md-simulations.ipynb
  smee/mm/__init__.py
  smee/mm/_mm.py
  smee/mm/_ops.py
  smee/mm/_reporters.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/mm/test_mm.py
  smee/tests/mm/test_ops.py
  smee/tests/mm/test_reporters.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add `.to` functions to models
  smee/_models.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/test_models.py
  smee/utils.py
Due: isort, black, flake8

Add `.to` functions to models (#79)
  smee/_models.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/potentials/test_potentials.py
  smee/tests/test_models.py
  smee/utils.py
Due: isort, black, flake8

Fix tensors on different devices
  smee/mm/_ops.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/utils.py
Due: isort, black, flake8

Fix ensemble average grad device
  smee/mm/_ops.py
Due: isort, black, flake8

Fix ensemble values not on right device
  smee/mm/_ops.py
Due: isort, black, flake8

Update example
  examples/md-simulations.ipynb
Due: isort-examples, black-examples, flake8-examples

Add arrange like util
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Fix tensors on different devices (#80)
  examples/md-simulations.ipynb
  smee/mm/_ops.py
  smee/potentials/_potentials.py
  smee/potentials/nonbonded.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Use a 'safe' geometric mean to avoid NaNs
  smee/potentials/nonbonded.py
  smee/tests/test_utils.py
  smee/utils.py
Due: isort, black, flake8

Move tensors to CPU before passing to OpenMM
  examples/md-simulations.ipynb
  smee/mm/_mm.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Fix tests
  smee/tests/mm/test_mm.py
Due: isort, black, flake8

Move tensors to CPU before passing to OpenMM (#81)
  examples/md-simulations.ipynb
  smee/mm/_mm.py
  smee/tests/mm/test_mm.py
Due: isort, black, flake8, isort-examples, black-examples, flake8-examples

Add initial Levenberg Marquardt optimizer
  LICENSE_3RD_PARTY
  smee/optimize.py
  smee/tests/test_optimize.py
Due: isort, black, flake8

Add simple test
  devtools/envs/base.yaml
  smee/optimize.py
  smee/tests/test_optimize.py
Due: isort, black, flake8

Clean-up API and add tests
  smee/optimizers/__init__.py
  smee/optimizers/_lm.py
  smee/tests/optimizers/__init__.py
  smee/tests/optimizers/test_lm.py
  smee/tests/test_optimize.py
Due: isort, black, flake8

Add initial Levenberg Marquardt optimizer (#82)
  LICENSE_3RD_PARTY
  devtools/envs/base.yaml
  smee/optimizers/__init__.py
  smee/optimizers/_lm.py
  smee/tests/optimizers/__init__.py
  smee/tests/optimizers/test_lm.py
Due: isort, black, flake8

Fix LM optimizer on CUDA devices
  devtools/envs/base.yaml
  smee/optimizers/_lm.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort-examples: any of: examples/.+\.ipynb$
  black-examples: any of: examples/.+\.ipynb$
  flake8-examples: any of: examples/.+\.ipynb$
